<h4 class="title_text">edit your memes</h4>

<center>
<div class="row postform">
  <div class="col s12">
    <%= form_for @meme do |meme| %>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :title %><br>
          <%= meme.text_field :title, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :image_url %><br>
          <%= meme.text_field :image, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :category %><br>
          <%= meme.collection_select(:category, Category.all, :name, :name) %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.submit "Submit" %>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <%= link_to "delete", meme_path, method: :delete, data: { confirm: "Really?" } if current_user %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</center>


<script>
  $('select').material_select();
</script>




