<h4 class="title_text"><%= params[:cat] %></h4>
<div class="divider"></div>
<br>

<div class="row">
  <% @memes.each do |meme| %>
    <div class="col s4 random">
      <div class="card">
        <div class="card-image z-depth-0">
          <%= image_tag(meme.image)%>
        </div>
        <div class="card-action">
          <p class="category_text"><%= meme.category %></p>
          <p class="memetitle_text"><%= meme.title %></p>
          <%= link_to "show", meme_path(meme) %>
          <%= link_to "Edit", edit_meme_path(meme), method: :get if current_user.admin == true || meme.user_id == current_user.id %>
          <%= link_to "delete", meme_path(meme), method: :delete, data: { confirm: "Really?" } if current_user.admin == true || meme.user_id == current_user.id %>
          <br>
        </div>
      </div>
    </div>
  <% end %>
</div>

