<h1>this is the memes form</h1>


<div class="row postform">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <%= form_for @meme do |meme| %>
          <%= meme.label :title %><br>
          <%= meme.text_field :title %>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :image_url %><br>
          <%= meme.text_field :image %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :category %><br>
          <%= meme.collection_select(:category, Category.all, :name, :name) %>
        </div>
      </div>
      <div class="input-field col s12">
          <%= meme.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </form>
</div>





