<h3 class="title_text">submit your memes</h3>

<center>
<div class="row postform">
  <div class="col s12">
    <%= form_for @meme do |meme| %>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :title %><br>
          <%= meme.text_field :title, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :image_url %><br>
          <%= meme.text_field :image, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.label :category %><br>
          <%= meme.collection_select(:category, Category.all, :name, :name) %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= meme.submit "Submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</center>

<script>
  $('select').material_select();
</script>




