<h4 class="title_text"><%= @meme.category %> - <%= @meme.title %></h4>
<div class="divider"></div>
<br>
<div class="col s6">
  <%= image_tag(@meme.image) %>
</div>
<%= link_to "edit", edit_meme_path, class:"waves-effect waves-light btn" if current_user.admin == true || @meme.user_id == current_user.id %>
<%= link_to "delete", meme_path, method: :delete, class:"waves-effect waves-light btn", data: { confirm: "Really?" } if current_user.admin == true || @meme.user_id == current_user.id %>

