<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemeMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey lighten-3">
        <a href="/" class="brand-logo">Meme Me</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= current_user.name %></li>
            <li><%= link_to 'Profile', profile_path %></li>
            <li><%= link_to 'Log Out', '/logout', method: :delete %></li>
          <% end %>
          <% if !current_user %>
            <li><%= link_to 'Log In', login_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>
        <li><a href="/">Home</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
          <li><%= current_user.name %></li>
          <li><%= link_to 'Log Out', '/logout', method: :delete %></li>
        <% end %>
        <% if !current_user %>
          <li><%= link_to 'Log In', login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>










  <script>
    $(".button-collapse").sideNav();
  </script>
  </body>


</html>
