<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemeMe</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey lighten-3">
        <a href="/" class="brand-logo">Meme Me</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= current_user.name %></li>
            <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
          <% end %>
          <% if !current_user %>
            <li><%= link_to 'Log In', login_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
          <li><%= current_user.name %></li>
          <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
        <% end %>
        <% if !current_user %>
          <li><%= link_to 'Log In', login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        </ul>
      </div>
    </nav>


      <%= yield %>









    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
